# vmdbg_config.yml

isa_file: "./vm_isa.yml"

bytecode:
  file: "./float_program.bin"  
  base_offset: 0
  max_size: 0x70000            
  entry_offset: 0

runtime:
  dispatcher_symbol: "interpret_vm"
  dispatcher_offset: null
  
  vm_mem:
    vm_stack: true
    vm_vmmap: true
      
    vm_state:
      symbol: "vm_state"
      pie_offset: null
      in_vm_vmmap: true
    
    bytecode:
      ptr_field: "bytecode_buffer"
      size_field: "bytecode_buffer_length"
      ptr_offset: null
      size_offset: null  
      in_vm_vmmap: true
        
    pc:
      field: "program_count"
      offset: null
      in_vm_vmmap: true

    stack:
      ptr_field: "stack"
      depth_field: "stack_depth"
      size_field: "stack_size"
      ptr_offset: null
      depth_offset: null
      size_offset: null
      in_vm_vmmap: true

    memory:
      ptr_field: "memory"
      size_field: "memory_size"
      ptr_offset: null
      size_offset: null
      in_vm_vmmap: true

    callstack:
      ptr_field: "call_stack"
      depth_field: "call_stack_depth"
      size_field: "call_stack_size" 
      ptr_offset: null
      depth_offset: null
      size_offset: null
      in_vm_vmmap: true

disasm:
  file: "./disasm_boat_vm.txt"

